.Update_Employee_Boundary {
  margin-top: 10px;
}
.Update_Employee_Boundary .Icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Update_Employee_Boundary .cancel {
  font-size: 24px;
  color: #39015e;
  cursor: pointer;
}
.Update_Employee_Boundary h2 {
  text-align: center;
  color: #39015e;
}
.Update_Employee_Boundary .Employee_Data_Field {
  justify-self: center;
}
.warn{
  font-size: 12px;
}
.image_container {
  width: 80%;
  margin: 5px auto;
}
.image_preview {
  width: 70px;
  height: 70px;
}
.Update_Employee_Boundary .Employee_Data_Field .LabelText {
  color: #39015e;
  width: 80%;
  margin: 8px auto;
  display: block;
}
.Update_Employee_Boundary .Employee_Data_Field .ErrorText {
  color: red;
  width: 80%;
  margin: 8px auto;
  display: block;
}
.Update_Employee_Boundary .Buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
